
<%- include('../layout/header') %>
<div class="container mt-5">
  <h1 class="text-center mb-4">Book Details</h1>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Title: <%= book.title %></h5>
      <p class="card-text">Author: <%= book.author %></p>
      <p class="card-text">Image: <%= book.image %></p>
      <p class="card-text">Price: $<%= book.price %></p>
      <p class="card-text">Genre: <%= book.genre_id %></p>
      <p class="card-text">Decription: <%= book.decription %></p>
      <a href="/books" class="btn btn-primary">Back to Books</a>
    </div>
  </div>
</div>

<%- include('../layout/footer') %>
